* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

header {
  background-color: #f0f0f0;
  padding: 2rem;
  margin-bottom: 1rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

#page {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding-inline: 3rem;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
}

.recipe-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 4px #000;
  background-color: #fff;
  text-align: center;
}

.recipe-card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.view-edit-btn {
  background-color: #5c9ee4;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.view-edit-btn:hover {
  background-color: #0056b3;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sub-box{
  font-size:1.5rem;
}
#sub-button{
  font-size:1.2rem;
}
#rec-box{
  font-size:1.5rem;
}